{{> head}}
{{> navbar}}

<div class="container">
  <div class="row mt-5">
  <div class="col-8">
    <h1>Curso Node</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis error quam tenetur itaque veniam! Pariatur explicabo nesciunt repudiandae, temporibus blanditiis aliquam possimus numquam harum vel id culpa aut! Ipsum, voluptatem!</p>
  </div>
  <div class="col-4">
    <img class="img-thumbnail" src="assets/img/descarga.png" alt="node">
  </div>
</div>
</div>

{{>footer}}